@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --background: #FEFEFE;
  --primary-color: #3F5F7B;
  --secondary-color: #008399;
  --gray-color: #F5F7FA;

  --pill-bg: #3F5F7B;
  --pill-border: #008399;
  --pill-text: #FFFFFF;

  --btn-bg: #3F5F7B;
  --btn-border: #008399;
  --btn-text: #FFFFFF;

  --navbar-border: #dfdddd;
}

.dark {
  --background: #0a0a0a;
  --primary-color: #5782a9;
  --secondary-color: #00A8B8;
  --gray-color: #1A1F26;

  --pill-bg: #1A3A52;
  --pill-border: #3F5F7B;
  --pill-text: #C8DFF0;

  --btn-bg: #1A3A52;
  --btn-border: #3F5F7B;
  --btn-text: #C8DFF0;

  --navbar-border: #3F5F7B;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-gray: var(--gray-color);
  --color-background: var(--background);
  --color-pill-bg: var(--pill-bg);
  --color-pill-border: var(--pill-border);
  --color-pill-text: var(--pill-text);
  --color-btn-bg: var(--btn-bg);
  --color-btn-border: var(--btn-border);
  --color-btn-text: var(--btn-text);
}