.carousel__item {
    flex: 0 0 10em;
}

.carousel__group {
    display: flex;
    animation: infinite-scroll 20s linear infinite;
}

@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}